.wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


a{
    color: black;
    text-decoration: none;
    margin: 10px;
}

a:hover{
    text-decoration: underline;
}

.active{
    color: #ce34fd;
}

